body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#groupName{
  font-size: larger;
  color: whitesmoke;
  font-weight: bolder;
}

#enterButton{
  height: 50px;
  width:170px;
  background-color: brown;
  border-radius: 10px;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

body,
html {
  height: 100%;
}

.buttonText {
  text-align: center;
  color:black;  
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
}

.navbar-custom {
  background-color: brown;
}

table, th, tr, td {
  table-layout:auto;
  border: 1px solid white;
  width:inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: white;
  background-color: black;
}

.centerTableau {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.centerTableau2 {
  margin: auto;
  margin-top: 50px;
  margin-left: 600px;
}

