body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#groupName{
  font-size: larger;
  color: whitesmoke;
  font-weight: bolder;
}

#enterButton{
  height: 50px;
  width:170px;
  background-color: brown;
  border-radius: 10px;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

body,
html {
  height: 100%;
}

.buttonText {
  text-align: center;
  color:black;  
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

#doChart {
  background-color:whitesmoke;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

#barChart {
  background-color:whitesmoke;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#radarChart {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#panel {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#gauge {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#selDataset {
  margin: 10px;
}


